#parent{
    border:1px solid grey;
   
    width:40%;
    height:400px;
    margin:auto;
    text-align: center;
    border-radius:8px;
}
h1{
    text-align: center;
}
input{
    padding:10px;
    width:90%;
    margin-top:10px;
}
#btn{
    margin-top:40px;
width:50%;
margin-top: 40px;
padding:10px;
background-color: grey;
cursor:pointer;
background-color: pink;
font-size:14px;
margin-bottom:30px;
}
