#parent {
    width: 430px;
    height: 330px;
   margin:50px;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius:10px;
    background-color: skyblue;
    padding: 8px;
}
.row {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.image img{
    border-radius:100px;
    border-color: white;
    margin:18px;
     float:left;
}

